:root {
    --color-primary-dark: #31271a;
    --color-primary-light: #faf4ea;
    --color-secondary-dark: #A28268;
    --color-brand-normal: #06df7d;
    --color-brand-light: #cfcfbc;
    --color-brand-dark: #465827;
}